@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe-bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
html.noscroll,
body.noscroll {
    overflow: hidden;
}
button {
    border: 0;
    outline: none;
}
li {
    list-style-type: none;
}

/* Header */
.header__top {
    border-bottom: 1px solid #ebebeb; 
}
.header__top .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__left,
.header__right {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-top: -20px;
    margin-right: 40px;
}
.current {
    font-family: OpenSans;
    font-weight: 600;
    font-size: 16px;
    color: rgba(102, 102, 102, 255);
}
.header__phone_title {
    color: rgba(153, 153, 153, 255);
}
.header__phone_text {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
}
.header__phone {
    padding-right: 40px;
}
.header__btn {
    background: #fff;
    border-radius: 5px;
    border: solid 2px #a6ce39;
    padding: 15px 34px;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(51, 51, 51, 255);
}
.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0;
}
.nav__items li a {
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
}

/* Main */
.banner {
    background: url(../assets/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.banner .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__text h1 {
    font-family: Circe-Bold, sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    margin-bottom: 35px;
}
.banner__list_item {
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.banner__list_item::before {
    content: '';
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 15px;
    background: url(../assets/list-select.png);
}
.banner__form form {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 50px;
}
.slider-1,
.slider-2,
.banner__form button {
    margin: 0 50px;
}
.form__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 50px;
    background-color: #f5f5f6;
}
.form__footer_title {
    text-align: center;
    font-family: Circe-Bold, sans-serif;
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
}
.form__footer_text {
    text-align: center;
    color: rgba(153, 153, 153, 255);
}
.slider__title,
.slider__range {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__title {
    padding-bottom: 22px;
}
.slider__title_text {
    font-size: 16px;
    color: rgba(153, 153, 153, 255);
}
.slider__title_summ {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 255);
    text-align: right;
}
.slider__title_summ::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: calc(100% + 20px);
    bottom: 0;
    left: -20px;
    background-color: #eaeaea;
}
.ui-slider-handle {
    display: block;
    border-radius: 50%;
    height: 28px!important;
    width: 28px!important;
    background-color: #a6ce39!important;
    border: 2px solid #fff!important;
    outline: none;
}
.slider__body {
    margin-bottom: 20px;
}
.slider-1 {
    padding-bottom: 40px;
}
.slider-2 {
    padding-bottom: 35px;
}
.banner__form button{
    padding: 20px 0;
    width: calc(100% - 100px);
    background-color: #f9484f;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    margin-bottom: 40px;
}
.slider__range_min,
.slider__range_max {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
}
.zaym {
    padding: 60px 0;
}
.tabs {
    padding: 10px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs-item {
    padding: 10px 0;
    margin: 0 40px;
    font-family: 'Circe-Bold', sans-serif;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 27px;
    line-height: 1;
    color: rgba(51, 51, 51, 255);
    transition: all .3 linear;
}
.tabs-item:hover,
.tabs-item.active {
    border-bottom: 2px solid #a6ce39;
}
.step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-num {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #a6ce39;
    color: #fff;
    font-family: 'Circe-Bold', sans-serif;
    font-size: 25px;
}
.circle-num::after {
    content: '';
    display: block;
    position: absolute;
    top: 37.5px;
    right: -25%;
    width: 50%;
    height: 1px;
    background-color: #e7e8ea;
}
.step:last-child .circle-num::after {
    content: none;
}
.step-title {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000;
    padding: 30px 0 20px 0;
}
.step-desc {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgba(85, 85, 85, 255);
    width: 300px;
    padding-bottom: 100px;
}
.recomendation__title {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 36px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-bottom: 50px;
}
.recomendation__card {
    position: relative;
    border-radius: 10px;
    border: 1px solid #dfe0e2;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-height: 280px;
}
.recomendation__card img {
    position: relative;
    top: -1px;
    left: -1px;
    width: 440px;
    height: 280px;
    display: block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.card__info {
    width: calc(100% - 440px);
    padding: 50px 0 55px 60px;
}
.card__name {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 25px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    padding-bottom: 29px;
    line-height: 1;
}
.card__haracteristic {
    padding-bottom: 27px;
}
.recomendation__card button {
    padding: 18px 40px;
    background-color: #a6ce39;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    border-radius: 5px;
}
.haracteristic__item_title {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
}
.haracteristic__item_text {
    color: rgba(119, 119, 119, 255);
    text-align: left;
}

/* new */
.new {
    background-color: #f5f5f6;
    padding: 60px 0;
}
.new h2 {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 30px;
    color: #000;
    padding-bottom: 30px;
}
.new h3 {
    font-size: 18px;
    font-family: 'Circe-Bold', sans-serif;
    color: #000;
}
.new a {
    color: rgba(249, 72, 79, 255);
}
.new time {
    color: rgba(119, 119, 119, 255);
}
.news-item {
  padding-bottom: 40px  
}
.main-new {
    max-width: 390px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}
.main-new img {
    max-width: 100%;
}
.main-new__info {
    padding: 30px;
}
.main-new__info p {
    margin-bottom: 0;
    color: rgba(85, 85, 85, 255);
}
/* END:new */
/* info */
.info {
    padding: 70px 0 85px 0;
}
.info p {
    color: rgba(85, 85, 85, 255);
}
.info h3 {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}
/* END:info */
/* map */
.map {
    position: relative;
    z-index: 1;
    display: flex;
    height: auto;
    align-items: center;
}
.map .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    display: flex;
    align-items: center;
}
.map__info {
    position: relative;
    padding: 50px;
    border-radius: 10px;
    max-width: 390px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 2px 1px 11px -7px rgba(0,0,0,0.75);
}
.map__info .header__select{
    margin-bottom: 30px;
}
.map__info h2 {
    font-size: 28px;
    font-family: 'Circe-Bold', sans-serif;
    margin-bottom: 24px;
}
.week-day {
    color: rgba(119, 119, 119, 255);
}
.addres:nth-child(4) {
    padding-bottom: 25px;
    border-bottom: 1px solid #c0c0c0; 
}
.addres:last-child {
    padding-top: 25px; 
}
.addres h4 {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
}
.map__img {
    max-width: 100%;
    width: auto;
    height: auto;
    position: inherit;
    top: 0;
    left: 0;
    z-index: 0;
}
/* END: map*/
/* footer */
footer {
    padding: 25px 0 80px 0;
    background-color: #f5f5f6;
}
footer img {
    display: block;
    margin-bottom: 1em;
}
footer .copyright {
    color: rgba(85, 85, 85, 255);
}
.footer-contacts,
.footer__list {
    padding-top: 30px;
}
.footer__list_item {
    margin-bottom: 10px;
}
.footer__list_item a {
    color: rgba(51, 51, 51, 255);
}
.footer-contacts {
    text-align: right;
}
.footer__phone {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 24px;
    color: rgba(51, 51, 51, 255);
    line-height: 1;
}
.footer__phone-title {
    font-size: 12px;
    color: rgba(153, 153, 153, 255);
}
/* END:footer */

/* mobile */
.mobile-menu-btn {
    display: none;
   width: 40px;
   height: 40px;
   background-color: #a6ce39;
   color: #fff;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 15px;
   border-radius: 5px;
   outline: none;
}
.mobile-menu-btn i {
    display: block;
    margin: 2px 0;
    border-radius: 2px;
    width: 20px;
    height: 4px;
    background-color: #fff;
}
.mobile-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .7;
    z-index: 10;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -120%;
    width: 350px;
    height: 100vh;
    padding: 0 40px;
    background-color: #fff;
    z-index: 11;
    transition: all .3s linear;
}
.mobile-menu-container.show {
    display: block;
}
.mobile-menu.show {
    margin-right: 0;
} 
.menu__header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0 35px 0;
}
.menu__header button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
}
.menu__nav {
    padding-bottom: 40px;
    margin: 0;
}
.menu__nav_item {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    line-height: 50px;
}
.menu__nav_item a {
    font-size: 18px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    text-decoration: none;
}
.menu__phone-title {
    color: rgba(153, 153, 153, 255);
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
}
.menu__phone {
    font-family: 'Circe-Bold', sans-serif;
    color: rgba(51, 51, 51, 255);
    font-size: 22px;
    line-height: 1;
    margin-bottom: 30px;
}
.tabs-select {
    display: none;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #a6ce39;
    margin-bottom: 30px;
}
.nice-select:after {
    height: 10px;
    width: 10px;
    border-radius: 3px;
}
.tabs-select.nice-select:active, .tabs-select.nice-select.open, .tabs-select.nice-select:focus {
    border-color: #a6ce39;
}
.tabs-select.nice-select:hover {
    border-color: #a6ce39;
}
.tabs-select.nice-select.open .list {
    min-width: 100%;
}
.tabs-select .current {
    font-family: 'Circe-Bold', sans-serif;
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    line-height: 1;
}
.read-all {
    display: none;
}
.read-all button {
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
    outline: none;
    background: transparent;
}
.read-all button.active span:last-child,
.read-all button span:first-child {
    display: block;
}
.read-all button span:last-child,
.read-all button.active span:first-child {
    display: none;
}
.read-all button:after {
    border-bottom: 1px solid #4a181a;
    border-right: 1px solid #4a181a;
    content: '';
    display: block;
    height: 8px;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    right: calc(50% - 8px);
    bottom: 10px;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}
.read-all button.active:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.map__img-min {
    display: none;
}
.fixed-mobile-btn {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    border: 0;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/btn-bg.png');
    background-size: contain;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    z-index: 5;
    background-color: #a6ce39;
}
/* END:mobile */

@media (max-width: 1200px) {
    .map {
        overflow-x: hidden;
    }
    .map__info {
        max-width: 345px;
        padding: 40px;
    }
    .map__img {
        max-width: 120%;
    }
    .map__info h2 {
        font-size: 22px;
    }
    .addres:nth-child(4) {
        padding-bottom: 15px;
    }
    .addres:last-child {
        padding-top: 15px;
    }
}

@media (max-width: 992px) {
    .header__top .container {
        height: 70px;
    }
    .header__btn {
        padding: 8px 28px;
        font-size: 14px;
    }
    .header__logo img {
        max-width: 148px;
    }
    .banner__form form {
        max-width: 580px;
        margin: 0 auto;
    }
    .mobile-menu-btn  {
        display: flex;
    }
    header .header__select {
        display: none;
    }
    .header__phone {
        text-align: right;
        padding-right: 20px;
    }
    .header__phone_text {
        font-size: 20px;
    }
    .header__phone_title {
        font-size: 13px;
    }
    .header__nav.container {
        display: none;
    }
    .banner__text {
        text-align: center;
    }
    .banner__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 45px;
    }
    .banner__list_item {
        padding-left: 30px;
    }
    .banner__list_item:last-child {
        padding-left: 0px;
    }
    .tabs {
        justify-content: flex-start;
    }
    .tabs-item {
        margin-left: 0;
    }
    .step {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    .step:last-child {
        margin-bottom: 60px;
    }
    .step-desc {
        padding-bottom: 0;
        text-align: left;
        width: 100%;
        font-size: 16px;
    }
    .step-title {
        padding-top: 0;
        padding-bottom: 5px;
        line-height: 1;
        text-align: left;
        font-size: 20px;
    }
    .circle-num {
        margin-right: 20px;
        position: relative;
    }
    .circle-num::after {
        width: 2px;
        top: auto;
        left: 50%;
        height: 15px;
        bottom: -22.5px;
    }
    .recomendation__title {
        text-align: left;
    }
    .recomendation__card img {
        width: 240px;
        height: auto;
    }
    .card__info {
        width: calc(100% - 240px);
        padding: 35px 0 35px 35px;
    }
    .recomendation__card button {
        padding: 15px 43px;
        font-size: 15px;
        line-height: 1;
    }
    .card__name {
        font-size: 20px;
        padding-bottom: 25px;
    }
    .haracteristic__item_title {
        font-size: 14px;
    }
    .haracteristic__item_text {
        font-size: 13px;
    }
    .main-new {
        margin-top: 30px;
        max-width: 100%;
        display: flex;
    }
    .main-new img {
        max-width: 300px;
    }
    .map__img {
        height: 500px;
        max-width: none;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer__list-container {
        display: none;
    }
    footer .copyright {
        display: inline;
        color: rgba(85, 85, 85, 255);
    }
    footer {
        padding: 17px 0 37px 0;
    }
}

@media (max-width: 767px) {
    .mobile-menu {
        width: 100vw;
    }
    .tabs-select {display: block;}
    .header__btn, .tabs,
    header .header__phone {
        display: none;
    }
    .banner__text {
        text-align: left;
    }
    .banner__text h1 {
        font-size: 42px;
        margin-bottom: 20px;
    }
    .banner__list {
        justify-content: flex-start;
        padding-bottom: 45px;
    }
    .banner__list_item {
        padding-left: 0;
        margin-bottom: 10px;
    }
    .banner__list {
        padding: 0;
        margin-bottom: 20px;
    }
    .banner__form form {
        padding-top: 30px;
    }
    .slider-1, .slider-2, .banner__form button {
        margin: 0 30px;
    }
    .slider-1 {
        padding-bottom: 30px;
    }
    .banner__form button {
        width: calc(100% - 60px);
        margin-bottom: 30px;
    }
    .zaym {
        padding: 35px 0;
    }
    .step {
        flex-direction: column;
        align-items: flex-start;
    }
    .circle-num {
        width: 50px;
        height: 50px;
        margin-bottom:  17px;
        position: static;
    }
    .circle-num::after {
        width: calc(100% - 100px);
        top: 25px;
        left: 80px;
        height: 2px;
    }
    .recomendation__card {
        flex-direction: column;
        max-height: fit-content;
    }
    .recomendation__card img {
        width: calc(100% + 2px);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .recomendation__cards {
        margin-right: 0;
        margin-left: 0;
    }
    .haracteristic__item {
        width: fit-content;
    }
    .haracteristic__item {
        padding-bottom: 20px;
    }
    .card__info {
        width: 100%;
        padding: 35px;
    }
    .card__haracteristic {
        padding-bottom: 6px;
    }
    .news-item {
        padding-bottom: 20px;
    }
    .main-new {
        flex-direction: column;
    }
    .main-new img {
        max-width: 100%;
        height: auto;
    }
    .info {
        padding: 35px 0;
        height: auto;
    }
    .info > .container {
        height: 180px;
        overflow: hidden;
        transition: all 0.3s linear;
    }
    .read-all {
        display: block;
        -webkit-box-shadow: -6px -15px 121px 42px #fff;
        -moz-box-shadow: -6px -15px 121px 42px #fff;
        box-shadow: -6px -15px 121px 42px #fff;
        position: relative;
        z-index: 1;
        transition: all 0.3s linear;
    }
    .read-all.noshadow {
        -webkit-box-shadow: -6px -15px 121px 42px transparent;
        -moz-box-shadow: -6px -15px 121px 42px transparent;
        box-shadow: -6px -15px 121px 42px transparent;
    }
    .map .container {
        padding-top: 30px;
        align-items: flex-start;
    }
    .map__img {
        height: 700px;
    }
    footer img {
        display: block;
        margin: 0 auto;
    }
    footer .copyright {
        display: block;
        text-align: center;
    }
    .footer-contacts {
        text-align: center;
    }
    .banner__form button {
        padding: 10px 0;
    }
}

@media (max-width: 375px) {
    .fixed-mobile-btn.show {
        display: flex;
    }
    /* .map__img {
        display: none;
    }
    .map__img-min {
        display: block;
        height: 700px;
        width: 100%;
    } */
}